/* Use this to generate names
 * http://chir.ag/projects/name-that-color/
 */
 $color-white: #FFF;
 $color-black: #000;

 //Blues
 $color-gallery:		#EEEEEE;

 //Greys
 $color-woodsmoke:		#131516;
 $color-grey30:			rgba(0,0,0,0.30);

 //Pink
 $color-deepBlush:  #E76FA3;

 // --- USAGE OF COLORS ------
 $color-pageBg:				      $color-white;

 $color-text:				        $color-woodsmoke;
 $color-textSecondary:      $color-white;
